@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {

  font-family: "BgCyril";

  src: url("/fonts/Azbuki-Regular.woff2") format("woff2");

  font-weight: 400;

  font-style: normal;

}

@font-face {

  font-family: "Glagolitic";

  src: url("/fonts/NotoSansGlagolitic-Regular.ttf") format("ttf");

  font-weight: 400;

  font-style: normal;

}

.invisible {
  visibility: hidden;
}
.linkbar > button {
  border: none;
}
.linkbar{
  font-size: 8pt;
}

/* .highbutton {
  font-size: 16pt;
} */
/* input {
  font-size: 16pt;
} */

.inputty {
  color: #123344;
  
}

.container {
  margin:0 -10px;
  padding: 10px;
  display:flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: stretch;
  align-content:center;
  font-size: 16pt;
  gap: 2px 2px;

}



.item-name-ctrl {
  /* color: #0a0a0af0; */
  color: #123344;
}


.linedup {
  float:right;
}

.item-count-ctrl {
  border-radius: 20px;
  border: none;
  background-color: rgb(217, 221, 218);
  top: -8px;
  box-shadow: 3px 2px 3px #123344, -1px -1px 2px #123344;
  padding: 2px 6px;
  font-size: 11pt;
  word-break: keep-all;

  
  position: relative;
}

.sale-price-ctrl {
  top: -2px;
  font-size: 12pt;
  left: 5px;
  margin-right:5px;
  word-break: keep-all;
}

.sale-name-ctrl {
  /* color: #0a0a0af0; */
  color: #123344;
}
.sale-count-ctrl {
  border-radius: 20px;
  border: none;
  background-color: rgb(217, 221, 218);
  padding: 0 3px;
  box-shadow: 6px 2px 3px #123344, -1px -1px 2px #123344;
  font-size: 8pt;
  top: -5px;
  position: relative;
}

.add-item-ctrl {
  font-size: 16pt;
  border: none;
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
}

.sales-container {
  justify-content: end;
  font-size: 8pt;
  gap: 4px 4px;

}

.page-title{
  text-align: center;
}

.users-in-list{
  margin-top: -22px;
  text-align: center;
}

.input-container{
  gap: 4;
}

.control-sale-container {
  display:flex;
}

.legend {
  font-size: 3vh;
  height: 6vh;
  margin : 2px 4px auto 0

}

button.submit-sum {
  height: 100%;
  min-width: 50px;
  margin: auto 0 auto 4px;
}

/* .input-sale-container {
  display: flex;
  gap: 4;
  align-self:auto;
  max-width: 100%;
} */

.input-container > button {
  min-width: 100px;
}

.containers {
  padding:2px;
}

.item-label{
  /* display: inline-block; */
  order: 3;
  flex-grow: 2;
  align-self: safe;
  max-width: 50%;
  overflow: hidden;
  color: #123344;
  min-height: 54px;

}
.item-label > button {
  padding: 5px 5px 5px 5px;
  min-height: 50px;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 18pt;
  min-width: 200px;
  color: #123344;
  /* width: fit-content;
  margin: 0;
  padding: 0; */
}


 @media screen and (max-width: 500) {
  .item-label {
   min-width: 100%;
  }
  .item-label > button{
    min-width: 98%;
  }
 }
 /* @media screen and (max-width: 355) {
  .item-label > button{
    width: 100%;
  }
  .item-label {
    max-width: 100%;
    
  }
 } */

.sale-label {
  right: 0;
  align-self: flex-end;
}

.sale-label > button {
  font-size: 8pt;
}



.number-of-items {
  font-size: 6pt;
}

a1 {
  text-align: center;
}


.strength1{
  color: brown;
  opacity: 0.8;
}
.strength2{
  color: red;
  opacity: 0.8;
}
.strength3{
  color: rgb(205, 202, 50);
  text-shadow:1px 1px 2px #0a0c08, -1px -1px 2px #263616;
  opacity: 0.8;
  
}
.strength4{
  color: green;
  opacity: 0.8;
}
.input-error{
  border: solid #530394;
  opacity:0.6;
}
/* #sign-up-form{
  display: flex;
} */

.recaptcha {
  display: flex;
  max-width: 50px;
  margin: 100px auto auto 0;
}

.signup-inputs {
  flex: 90%;
}
.signup-inputs > button:last-child {
  margin-left: 6px;
}

.signup-line{
  width: 99%;

}

input.signup-line {
  color: #796f80;
  height: 8vh;
  border-radius: 3px;
  background-image: linear-gradient(to right, #eff3f6, #e1e9ed);
  /* opacity: 6; */
  /* box-shadow:  1 1 1 1  rgb(60, 60, 44); */
  /* border: none;
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344; */
  
}


button.signup-line {
  color: #796f80;
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
  border-radius: 3px;
  background-image: linear-gradient(to right, #eff3f6, #e1e9ed);
}

input.signup-line:focus {
  /* opacity: 6; */
  /* box-shadow: 2 2 1 1  rgb(60, 60, 44); */
  background-color: #e5ffed;
  color: #74588a;
  background-image: linear-gradient(to right, #e5ffed, #e1e9ed);
  outline: 0;
  opacity: 0.8;
  /* outline: 0;
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344; */
}

/* button.signup-line {
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
  color: #796f80;
  height: 8vh;
  border-radius: 3px;
  background-image: linear-gradient(to right, #eff3f6, #e1e9ed);
} */


#submit-signup {
  margin: 30px auto auto 0;
  width: 50%;
  min-width: 100px;
  color: #123344;
}
.signup {
  height: 700px;
  font-size: 5vh;
  color: #123344;
}

#forgot-password {
  margin: 20px auto auto 0;
}

.sign-up-err {
  color:#530394;
  margin: 0 0 5px;
  opacity: 0.8;
  font-size: 2vh;

}
.privacy-documents {
  margin: 18px auto 0 0;
  font-size: 10pt;
}

a {
  color: #123344;
}

@media screen and (min-height: 400) {
  

  .signup {
    font-size: 2vh;
    
  }
  .page-title{
    font-size: 3vh;
    
  }

   input.signup-line {
    height: 7vh;
    font-size: 3vh;
  }

  .legend {
    height: 7vh;
    font-size: 3vh;
  }
}

@media screen and (min-height: 600) {
  

  .signup {
    font-size: 2vh;
  }
  input.signup-line {
    height: 5vh;
  }
  .legend{
    height: 5vh;
  }
  .linkbar{
    font-size: 12pt;
  }
}

@media screen and (min-height: 800) {
  

  .signup {
    font-size: 1vh;
  }
  input.signup-line {
    height: 4vh;
    font-size: 3vh;
  }
  .legend {
    height: 4vh;
    font-size: 3vh;
  }
}

@media screen and (min-width: 800) {
  .signup {
    width: 800px;
    margin: 0 auto 0 auto;
  }
}

@media screen and (min-height: 1000) {

  .signup {
    font-size: 2vh;
  }

  input.signup-line {
    height: 3vh;
    font-size: 2vh;
  }

  .legend {
    height: 3vh;
    font-size: 2vh;
  }
}

@media screen and (min-height: 1200) {
  
  .signup {
    font-size: 2vh;
  }
  input.signup-line {
    height: 2vh;
    font-size: 1vh;
  }
  .legend {
    height: 2vh;
    font-size: 1vh;
  }
}


.remove-item {
  border-radius: 4px;
  background-color: white;
  font-size: 9pt;
  top: -8px;
  margin: auto auto auto 4px;
  position: relative;
}

.item-count {
  font-size: 10pt;
  position: relative;
}

.lists-item {
  font-size: 15pt;
  margin: 0 0 5;
}

.item-text{
  font-size: 17pt;
}
.list-settings{
  margin: 0 0 10;
  display: flex;
  justify-content: stretch;
  gap: 6px;
}
.list-settings > button {
  flex: 100%;
  height: 34px;
}

.add-item{
  margin: 0 0 10;
  display: flex;
  justify-content: stretch;
  gap: 4px;
}
.item-start {
  font-size: 11pt;
  font-weight: bold;
}
/* .add-item-content {
  flex: 100%;
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
} */
.add-item > button {
  height: 34px;
  /* box-shadow: 2px 2px 3px #123344, 1px -1px 2px #123344; */
}
.add-item > input {
  font-size: 18pt;
}
/* .add-item > input {
  box-shadow: 0px 2px 2px #123344, -1px -1px 2px #123344;
} */

.lists-container {
  display:flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
}

.list-container {
  flex:100%;
  order: 1;
  flex-grow: 1;
  align-self: center;
  overflow: hidden;
  max-width: 592px;
  border: 1px solid #ccc;
  margin: 10;
  padding: 10;
}

.dashboard-container {
  padding: 24px;
  color:#123344;
}
.dashboard-container input {
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
}
.dashboard-container button {
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
}

.dashboard-head {
  max-width: 500px;
  margin: 0 auto 0 auto;
}

.add-user-popup {
  background-color: rgb(36, 42, 47);
  color: wheat;
}

.create-list {
  display: flex;
  margin: 0 0 0 5px;
  gap: 4;
  
}

.create-list > input {
  font-size: 18pt;
  height: 34px;
}

.create-list > button {
  height: 36px;
}
/* .item-button {
  background-color: #678ba7f0;
}

.list-execution {
  background-color: #d5eaf9f0;
} */

.confirmation-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:99;
  background-color: #282814;
  opacity: 0.8;
  color: #123344;

}
.confirmation-container {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  max-height: 200px;
  /* width: 80%;
  height: 60%;
  
  min-width: 300px;
  margin: 40% auto 0 auto; */
  text-align: center;
  /* background-color: #282814; */
  opacity: 1;
  z-index: 2000;
  border:4px solid #123344;
  border-radius: 5px;
  background-color: #e1e9ed;
  opacity: 0.96;

  /* background-color: #123344; */
}
/* .question-card{
  background-color: #123344;
  opacity: 4;
  z-index: 30000
}
.confirmation-title {
  background-color: #123344;
  opacity: 1;
  z-index: 30000
} */



@media screen and (min-width: 800) {
  .confirmation-container {
    width: 60%;
    left:20%;
  }
}

@media screen and (min-width: 1100) {
  .confirmation-container {
    width: 40%;
    left: 30%;
    max-height: 400px;
  }
}

.confirmation-title {
  font-size: 20pt;
  margin: 20px;
}


.confirmation-buttons {
  /* margin:0 -10px; */
  /* padding: 10px; */
  display:flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: stretch;
  align-content:center;
  font-size: 16pt;
  gap: 2px 2px;
}

.confirmation-button {
  flex:100%;
  order: 1;
  flex-grow: 1;
  max-width: 48%;
  padding: 5 0 5;
  align-self: center;
  overflow: hidden;
}


button span.glagolitic {
  font-family: "Glagolitic";
}


body {
  background-color: #e1e9ed;
  /* text-shadow: #123344 1px 1px 2px; */
  opacity: 0.9;
  font-family: "BgCyril", "Glagolitic", Arial, Helvetica ;
}

input[type="text"] {
  /* background-color: #eff3f6; */
  background-image: linear-gradient(to right, #eff3f6, #e1e9ed);
}

input[type="password"] {
  /* background-color: #eff3f6; */
  background-image: linear-gradient(to right, #eff3f6, #e1e9ed);
}
textarea {
  background-color: #eff3f6;
  
}

.link-to-list {
  font-size: 20pt;
}

.list-users {
  margin: 0 0 16px;
}

input {
  opacity:0.9;
  border: none;
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
  font-family: "BgCyril", Arial, Helvetica ;

}

input:focus{
  outline: 0;
}

button {
  border: none;
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
  font-family: "BgCyril", "Glagolitic", Arial, Helvetica ;
}

/* .add-item-ctrl {
  border: none;
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
} */
textarea {
  font-family: "BgCyril", Arial, Helvetica ;
}
textarea:focus {
  outline: 0;
}

/* .item-name-ctrl {
  box-shadow: 2px 2px 3px #123344, -1px -1px 2px #123344;
} */
/* .add-item-ctrl:focus {
  outline: 0;
  box-shadow: 2px 0px 3px #123344, -1px -1px 2px #123344;
} */



